body.bg-slate-800{
    background-color: #ffffff;
}
div.card{
    border: 3px solid #000000;
    border-radius: 15px;
}
.btn-at{
    color: #000000;
    background-color: #ff0000;
    border:1px solid #000000;
    font-weight: 700;
    font-size: 17px;
}
.form-control{
    border:1px solid #000000;
}
.logo img{
    width: 78px;
}
h2.mb-0{
    color: #000000;
}
div.content{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: column;
}
div.banner img{
    top:20px;
    width:450px;
    margin-bottom:15px;
}
.copy{
    font-size: 20px;
    margin-top: 20px;
}
@media (max-width: 768px){
    div.banner img{
        width: 300px;
        /* margin-bottom: 25px; */
    }
}
