.navbar-dark{
    background-color:#ff0000;
    border:1px solid #000000;
}
.sidebar-dark{
    background-color:#000000;
}

.sidebar-light .nav-sidebar .nav-link:not(.disabled):hover {
    color: #ffffff;
    background-color: #f5f5f5;
}
.sidebar-light
    .sidebar-mobile-toggler[class*="bg-"]:not(.bg-white):not(.bg-light):not(.bg-transparent)
    a:hover {
    color: #fff;
    background-color: transparent;
}
.sidebar-light .nav-tabs .nav-link:hover {
    color: #ffffff;
}
.sidebar-dark .nav-sidebar .nav-link:not(.disabled):hover,
.sidebar-light
    .card[class*="bg-"]:not(.bg-light):not(.bg-white):not(.bg-transparent)
    .nav-sidebar
    .nav-link:not(.disabled):hover {
    color: #fff;
    background-color: rgba(213, 232, 243, 0.15);
}
.sidebar-dark .sidebar-mobile-toggler:not([class*="bg-"]) {
    background-color: #ff0000;
}

.sidebar-dark .nav-sidebar > .nav-item-open > .nav-link:not(.disabled),
.sidebar-dark .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light
    .card[class*="bg-"]:not(.bg-light):not(.bg-white):not(.bg-transparent)
    .nav-sidebar
    > .nav-item-open
    > .nav-link:not(.disabled),
.sidebar-light
    .card[class*="bg-"]:not(.bg-light):not(.bg-white):not(.bg-transparent)
    .nav-sidebar
    > .nav-item
    > .nav-link.active {
    background-color: rgba(213, 232, 243, 0.20);

    color: #fff;
}
.sidebar-dark .nav-sidebar .nav-item>.nav-link.active, .sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar .nav-item>.nav-link.active {
    color: #fff;
    background-color: rgba(213, 232, 243, 0.1);

}

/* .page-title{
    padding-top: 0px;
    padding-bottom: 0px;
}
.content{
    padding-top: 10px;
    padding-bottom: 0px;
}
.card-body{
    padding-top: 0px;
} */
